%header
  .dziu-top-bar.bg-light
    %a.dziu-logo{:href => "/"}
      DZIU.PL
    .logo-underbar
    .dziu-quote
      =tagline_quote

%nav.dziu-navbar.navbar.navbar-light.bg-light.navbar-expand.sticky-top
  %ul.navbar-nav
    %li.nav-item
      %a.nav-link.disabled Najlepsze
    %li.nav-item
      %a.nav-link{:href => "/"} Najnowsze
    %li.nav-item
      %a.nav-link.disabled Losowe
  
